#grid{
  display: grid;
  grid-template-columns: 200px 1fr;
}
a{
    text-decoration: none;
  }
body{
    margin: 0px;
  }
h1{
    text-align: left;
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 10px;
  }
ol{
    border-right: 1px solid black;
    margin: 0px;
    padding-left: 30px;
    padding-top: 10px;
    width : 150px;
  }
@media(max-width:800px){
  h1,ol{
    border: none;
  }
  #grid{
    grid:none;
  }
}
